<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>


    <p>No momento estamos em manutenção!</p>
    <p>Entre em contato Comigo!</p>
    <form action="/procesar_formulario" method="post">
      <!-- Campo Nome -->
      <label for="nome">Nome:</label> <br />
      <input type="text" id="nombre" name="nombre" required /> <br />

      <!-- Campo E-mail -->
      <label for="email">E-mail:</label><br />
      <input type="email" id="email" name="email" required /><br />

      <!-- Campo de telefone com DDD de dois dígitos e número de oito dígitos -->
      <label for="telefone">Telefone (com DDD):</label>
      <input
        type="tel"
        id="telefone"
        name="telefone"
        pattern="\([0-9]{2}\)[0-9]{4,5}-[0-9]{4}"
        placeholder="Formato: (xx)xxxxx-xxxx"
        required
      /><br />

      <!-- Campo de texto grande para comentarios -->
      <label for="comentarios">Mensagem:</label><br />
      <textarea id="mensagem" name="mensagem" rows="4" cols="50"></textarea>
      <br />

      <!-- Botão de envio-->
      <input type="submit" value="Enviar" />
    </form>

    <footer>Desenvolvido por Jeanmviana</footer>
  </body>
</html>
